.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 7em;
  padding: 1em;
}

.header__logo-container {

  display: flex;
  justify-content: left;
}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--header-background-color);
}

.header-nav__link {
  font-size: 2em;
  color: whitesmoke;
  text-decoration: none;
  padding: 1em;
}

.header-links__container {
  margin-left: 2em;
}
