@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Inter', sans-serif !important;
    scroll-behavior: smooth;
}

:root {

    .container {
        width: 1200px;

    }

    img {
        display: block;
        max-width: 100%;
    }

    --header-background-color: #151515;
    --header-hero-background-color: #f3f3f3;
    --color-neutral-400:#606266;
}