<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee</title>
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-partial.html"
      ></nav>
    </header>
    <main>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="header-hero-partial.html"
      ></nav>

      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="ourstory.partial.html"
      ></nav>
    </main>
  </body>
</html>