@import url('https://fonts.cdnfonts.com/css/graphik-trial');

body{
    margin: 0;
    font-family: 'Graphik Trial', sans-serif;
}

header{
    position: relative;
    overflow: hidden;
}

.header-background{
  width: 100%;
  height: auto;
  display: block;
}

.navigation{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.2rem;
    z-index: 1;
    max-width: 1200px;
    width: 90%;
}

.header__link{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    white-space: nowrap;
    
}

.header__logo{
    max-height: 40px;
    margin: auto;
}

.header__socials{
    gap: 1rem;
    margin-left: auto;
    margin-top: 0.6rem;
    margin-right: auto;
}

svg{
    width: 30px;
    height: auto;
    margin-left: 1.2rem;
}

.header__preview{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 1rem;
  max-width: 90%;
}

.header__preview-text-main{
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

@media (max-width: 768px) {
  .header__navigation {
    flex-direction: column;
    gap: 0.8rem;
    top: 1rem;
  }

  .header__link {
    font-size: 0.6rem;
  }

  .header__logo {
    margin-top: 1rem;
    height: auto;
    width: 150px ;
  }

  .header__socials {
    margin-top: 1rem;
  }

  svg{
    width: 20px;
    height: auto;
    margin-left: 0.8rem;
 }
}

